body{
	overflow-x: hidden;
	color: #000;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	&.disable-scroll{
		overflow: hidden;
	}
}

.wrapper{
	overflow: hidden
}

.section{
	padding: 120px 0
}

h2, .h2{
	font-size: 48px;
	line-height: 62px;
	font-weight: 900;
	color: #000;
}

.btn{
	height: 48px;
	line-height: 48px;
	padding: 0 45px;
	background-color: #6DCAAB;
	border-radius: 38px;
	color: #ffffff;
	font-size: 16px;
	display: inline-block;
	transition: 0.3s;
	&:hover{
		color: #ffffff;
		background-color: lighten(#6DCAAB, 10%);
	}
	&--black{
		background-color: #000;
		&:hover{
			background-color: #6DCAAB;
		}
	}
}

@include media-breakpoint-down(md){
	.section{
		padding: 100px 0
	}

	h2, .h2{
		font-size: 40px;
		line-height: 54px;
	}
}

@include media-breakpoint-down(sm){
	.h2, h2{
		font-size: 32px;
		line-height: 38px;
	}

	.section{
		padding: 60px 0
	}
}
	