.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(49, 49, 49, 0.6);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

.clear{
    //display: flex;
    display: none;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
}

.panel{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 720px;
    height: 100%;
    overflow-y: auto;
    z-index: 11;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    &.active{
        opacity: 1;
        pointer-events: all;
    }
    &--grey{
        background: #F6F6F6;
    }
    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1;
        svg{
            stroke: #000;
            transition: 0.3s;
        }
        &:hover{
            svg{
                stroke: rgba(0,0,0,0.7);
            }
        }
    }
    &__block-header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__inner{
        display: flex;
        flex-direction: column;
    }
    &__block{
        padding: 3rem 3.2rem 2rem 3.5rem;
        flex: 1 1 50%;
        position: relative;
    }
    &__block--grey{
        background: #F6F6F6;
    }
    &__block-title{
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #000;
        margin-bottom: 30px;
    }
    &__block-text{
        p{
            margin-bottom: 24px;
        }
        ul{
            li{
                position: relative;
                padding-left: 30px;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                p{
                    margin-bottom: 0;
                    margin-bottom: 10px;
                    color: rgba(0,0,0,0.7);
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                b{
                    font-weight: 500;
                    color: rgba(0,0,0,1);
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    width: 6px;
                    height: 6px;
                    background-color: #000;
                    border-radius: 50%;
                }
            }
        }
    }

    &__order{
        padding: 30px 50px;
        background: #F6F6F6;
    }
    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    &__header-notice{
        font-size: 16px;
        line-height: 28px;
        color: #5E5E5E;
    }
    &__back{
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        color: #6DCAAB;
        margin-right: 16px;
        svg{
            margin-right: 10px;
        }
        &:hover{
            color: #6DCAAB;
        }
    }
    &__block-selection{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 720px;
        padding: 16px 46px;
        background-color: #fff;
        box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        .btn{
            height: 62px;
            line-height: 62px;
            background-color: #000;
            width: 210px;
            font-size: 18px;
            text-align: center;
        }
    }
    &__block-selection-subtitle{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    &__block-selection-title{
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
    }
}

.order{
    &__title{
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    &__program{
        background: #FFFFFF;
        border-radius: 24px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__program-title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
        margin-bottom: 15px;
    }
    &__program-subtitle{
        font-size: 14px;
        line-height: 16px;
        max-width: 110px;
        color: #5E5E5E;
    }
    &__program-block{
        width: 180px;
        position: relative;
    }
    &__program-img{
        position: absolute;
        top: -20px;
        right: 0;
        height: calc(100% + 40px);
    }
    &__program-info{
        width: calc(100% - 205px);
        display: flex;
        align-items: flex-start;
        li{
            margin-right: 25px;
        }
        p{
            font-size: 14px;
            line-height: 28px;
            color: #5E5E5E;
            margin-bottom: 8px;
        }
        b{
            display: block;
            font-size: 16px;
            line-height: 19px;
            color: #000;
            font-weight: 500;
            white-space: nowrap;
        }
    }
    &__result{
        padding: 30px 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        .btn{
            width: 100%;
            text-align: center;
            line-height: 62px;
            height: 62px;
            font-size: 18px;
        }
    }
    &__result-col{
        &:first-child{
            width: 260px;
        }
        &:last-child{
           width: 300px;
        }
    }
}

.promocode{
    &__title{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__field{
        border: 1px solid #E5E5E5;
        border-radius: 40px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;
        height: 60px;
    }
    &__field-input{
        width: 100%;
        height: 100%;
        border-radius: 40px;
        padding: 0 30px;
        border: none;
    }
    &__field-btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 18px;
    }
    &__status{
        font-size: 16px;
        line-height: 28px;
        color: #6DCAAB;
        &.error-promocode{
            color:#df7963;
        }
    }
}

@include media-breakpoint-down(sm){
    .clear{
        position: absolute;
        top: 0;
        right: 0;
    }

    .panel{
        &__block{
            padding: 2rem 24px 2rem;
        }
        &__block-header{
            position: relative;
        }
        &__block-title{
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 28px;
            span{
                display: block;
            }
        }
        &__block-text{
            ul{
                li{
                    padding-left: 20px;
                    margin-bottom: 15px;
                    &:before{
                        left: 0;
                    }
                }
            }
        }
        &__order{
            padding: 24px;
        }
        &__header{
            display: none;
        }
        &__block-selection{
            padding: 20px 24px;
            .btn{
                height: 56px;
                line-height: 56px;
                width: 140px;
                font-size: 16px;
                padding: 0;
            }
        }
        &__block-selection-subtitle{
            font-size: 14px;
            line-height: 28px;
            white-space: nowrap;
        }
        &__block-selection-title{
            font-size: 16px;
            line-height: 19px;
        }

    }

    .order{
        &__title{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        &__program-img{
            display: none;
        }
        &__program-block{
            width: 100px;
            border-right: 1px solid #E5E5E5;
        }
        &__program-title{
            margin-bottom: 10px;
        }
        &__program-subtitle{
            font-size: 12px;
            line-height: 14px;
            max-width: 90px;
        }
        &__program-info{
            width: calc(100% - 115px);
            flex-wrap: wrap;
            li{
                margin-right: 0;
                &:nth-child(2){
                    width: 100%;
                    order: 1;
                    margin-bottom: 8px;
                }
                &:nth-child(1){
                    order: 2;
                    width: auto;
                    margin-right: 30px;
                    p{
                        b{
                            color: #5E5E5E;
                        }
                    }
                }
                &:nth-child(3){
                    order: 3;
                }
            }
            p{
                margin-bottom: 0;
                b{
                    font-size: 14px;
                    line-height: 18px;
                }
                &:first-child{
                    display: none;
                }
            }
        }
        &__program{
            margin-bottom: 32px;
        }
        &__result{
            padding: 24px;
            display: block;
        }
        &__result-col{
            &:first-child{
                width: 100%;
            }
            &:last-child{
                width: 100%;
            }
        }
    }

    .promocode{
        margin-bottom: 32px;
        &__title{
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 16px;
        }
        &__field{
            height: 56px;
        }
        &__status{
            font-size: 16px;
        }
    }


}
