.params{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &__col{
        display: flex;
        margin-right: 40px;   
        &:last-child{
            margin-right: 0;
        }
    }
    &__block{
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__block-title{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__block-input{
        position: relative;
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 26px;
            font-size: 18px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.6);
        }
        input{
            width: 120px;
            border-radius: 40px;
            background-color: #fff;
            height: 62px;
            line-height: 62px;
            padding-left: 30px;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            border: none;
        }
    }
}

.sex-group{
    display: flex;
    width: 140px;
}

.sex-group__item{  
    height: 62px;
    width: 50%;
    line-height: 62px;
    background-color: #fff;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border-right: 1px solid #E5E5E5;
    transition: 0.3s; 
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
    &-body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .sex-group__item-body{
            background-color: #6DCAAB;
            color: #ffffff;
        }
    }
    &:first-child{
        border-radius: 40px 0 0 40px;
    }
    &:last-child{
        border-radius: 0 40px 40px 0;
    }
}

@include media-breakpoint-down(sm){
    .params{
        display: block;
        margin-bottom: 32px;
        &__col{
            margin-right: 0;
            &:first-child{
                .params__block{
                    width: 100%;
                    margin-bottom: 32px;
                }
            }
            &:last-child{
                .params__block{
                    width: calc(100% / 3 - 5px);
                }
            }
        }
        &__block{
            margin-right: 10px;
        }
        &__block-title{
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 16px;
        }
        &__block-input{
            input{
                width: 100%;
                height: 56px;
                line-height: 56px;
                font-size: 14px;
                line-height: 19px;
                padding-left: 20px;
            }
            span{
                font-size: 14px;
                line-height: 19px;
                right: 18px;
            }
        }
    }

    .sex-group{
        width: 100%;
    }
}