.program-section{
    background: #F6F6F6;
    padding: 20px 0;
}

.program-types{
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__title{
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
    }
    &__list{
        display: flex;
        margin-bottom: 50px;
    }
    &__tooltip{
        position: relative;
    }
}

.help{
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    transition: 0.3s;
    padding: 0 20px;
    background-color: #fff;
    svg{
        margin-right: 10px;
        stroke: #000;
    }
    &:hover{
        background-color: $green;
        color: #fff;
        svg{
            stroke: #fff;
        }
    }
    &--single{
        padding: 0;
        &:hover{
            background-color: transparent;
        }
        svg{
            margin-right: 0px;
        }
    }
}

.program-type{
    position: relative;
    min-width: 200px;
    margin-right: 16px;
    display: block;
    cursor: pointer;
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .program-type{
            &__body{
                border: 2px solid #6DCAAB;
            }
            &__price{
                background-color: #6DCAAB;
                color: #ffffff;
                border-top: 1px solid #6DCAAB;
            }
        }
    }
    &__body{
        padding: 20px 20px 40px 20px;
        border: 2px solid #fff;
        border-radius: 20px 20px 0 0;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: contain;
        transition: 0.3s;
    }
    &__title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
        color: #000000;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 14px;
        line-height: 16px;
        max-width: 110px;
        margin-bottom: 15px;
        color: #5E5E5E;
    }
    &__info{
        font-size: 14px;
        line-height: 16px;
        color: #6DCAAB;
        cursor: pointer;
        position: relative;
        transition: 0.3s;
        display: inline-block;
        &:hover{
            color: lighten(#6DCAAB, 10%);
            .program-type__info-text{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__info-text{
        position: absolute;
        bottom: 30px;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 30px;
        width: 425px;
        z-index: 1;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        p{
            font-size: 14px;
            line-height: 23px;
            margin-bottom: 8px;
            font-weight: 500;
            color: $grey;
        }
        ul{
            li{
                font-size: 14px;
                line-height: 23px;
                padding-left: 25px;
                color: $grey;
                position: relative;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 8px;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    background-color: $grey;
                    border-radius: 50%;
                }
            }
        }
    }
    &__price{
        border-radius: 0 0 20px 20px;
        background-color: #fff;
        line-height: 44px;
        height: 44px;
        color: #000000;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        border-top: 1px solid #E5E5E5;
        transition: 0.3s ;
    }
}

.daily-calories{
    max-width: 632px;
    margin-bottom: 50px;
    width: 100%;
    &__title{
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__group{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.cal-item{
    width: 100%;
    height: 62px;
    line-height: 62px;
    background-color: #fff;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border-right: 1px solid #E5E5E5;
    transition: 0.3s;
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
    &__body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .cal-item__body{
            background-color: #6DCAAB;
            color: #ffffff;
        }
    }
    &:first-child{
        border-radius: 40px 0 0 40px;
    }
    &:last-child{
        border-radius: 0 40px 40px 0;
    }
}

.duration{
    max-width: 632px;
    &__title{
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        font-weight: 500;
    }
    &__group{
        display: flex;
        align-items: center;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__notice{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
        color: $grey;
        img{
            margin-right: 10px;
        }
    }
}

.duration-item{
    width: 100%;
    height: 62px;
    line-height: 62px;
    background-color: #fff;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    border-right: 1px solid #E5E5E5;
    transition: 0.3s ;
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
    &__body{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .duration-item__body{
            background-color: #6DCAAB;
            .duration-item__body-title {
                color: #ffffff;
            }
            .duration-item__discount{
                color: #000000;
            }
            .duration-item__price{
                color: #000000;
            }
        }
    }
    &__body-title{
        color: #000;
        margin-bottom: 4px;
    }
    &__price{
        color: #6DCAAB;
    }
    &__discount{
        color: #6DCAAB;
    }
    &:first-child{
        border-radius: 40px 0 0 40px;
        // width: 25%;
    }
    &:last-child{
        border-radius: 0 40px 40px 0;
    }
}

.program{
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 40px;
    height: 100%;
    min-height: 656px;
    &__title{
        font-size: 24px;
        line-height: 30px;
        font-weight: 900;
        margin-bottom: 25px;
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }
    &__type{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        color: #000;
    }
    &__consist{
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        color: #000;
    }
    &__eating{
        margin-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    &__eating-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__eating-title{
        font-size: 16px;
        line-height: 28px;
        color: $grey;
    }
    &__eating-consist{
        font-size: 16px;
        line-height: 28px;
        color: $grey;
    }
    &__eating-list{
        margin-bottom: 20px;
        img{
            margin-top: 8px;
        }

    }
    &__delivery{
        font-size: 14px;
        line-height: 23px;
        color: $grey;
    }
    &__block{
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #E5E5E5;
        position: relative;
        &:nth-last-child(2){
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    &__block-discount{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #000;
    }
    &__block-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__block-title{
        font-size: 16px;
        line-height: 28px;
        color: $grey;
    }
    &__block-value{
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #000;
    }
    .btn{
        width: 100%;
        text-align: center;
        display: block;
    }
}

.radio{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ .radio__mark{
            &:after{
                opacity: 1;
            }
        }
    }
    &__mark{
        width: 24px;
        height: 24px;
        border: 2px solid #E5E5E5;
        border-radius: 50%;
        transition: 0.3s;
        min-width: 24px;
        margin-right: 10px;
        position: relative;
        transition: 0.3s;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 11px 7px;
            transition: 0.3s;
            background-color: #6DCAAB;
            border-radius: 50%;
            opacity: 0;
        }
    }
    &__title{
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__text{
        font-size: 14px;
        line-height: 18px;
        color: $grey;
        margin-top: 2px;
        a{
            color: #6DCAAB;
        }
    }
}

.help{
    position: relative;
    margin-left: 20px;
    &__icon{
        cursor: pointer;
        &:hover{
            .help{
                &__svg-bg{
                    fill: #6DCAAB;
                }
                &__svg-symbol{
                    stroke: #fff;
                }
            }
        }
    }
    &:hover{
        .help{
            &__text{
                opacity: 1;
                visibility: visible;
            }
        }

    }
    &__text{
        position: absolute;
        bottom: 35px;
        left: -15px;
        width: 310px;
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 14px;
        line-height: 23px;
        color: $grey;
        padding: 10px 15px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    &__svg-bg{
        fill: #ffffff;
        transition: 0.3s;
    }
    &__svg-symbol{
        stroke: #6DCAAB;
        transition: 0.3s;
    }
}


@include media-breakpoint-down(lg){
    .program{
        padding: 30px 40px;
        min-height: 659px;
    }

    .program-types{
        &__list{
            flex-wrap: wrap;
        }
    }
}

@include media-breakpoint-down(md){
    .program-section{
        padding: 60px 0;
    }

    .program{
        max-width: 632px;
        min-height: 656px;
    }

    .program-types{
        &__list{
            margin-bottom: 30px;
        }
    }

    .daily-calories{
        margin-bottom: 30px;
    }

    .duration{
        margin-bottom: 30px;
    }
}

@include media-breakpoint-down(sm){
    .program{
        min-height: 100%;
    }

    .program-types{
        &__header{
            margin-bottom: -100px;
            display: block;
            .help{
                margin-top: 20px;
                margin-left: 0;
                justify-content: center;
            }
        }
        &__list{
            padding-top: 120px;
            flex-wrap: nowrap;
            overflow-y: auto;
        }
    }

    .program-type__info-text{
        bottom: -30px;
        padding: 10px 15px;
        width: 300px;
        left: -15px;
        p{
            font-size: 14px;
            line-height: 24px;
        }
        ul{
            li{
                padding-left: 15px;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }

    .program-type{
        &:last-child{
            .program-type{
                &__info-text{
                    left: -120px;
                }
            }
        }
    }

    .duration__group{
        border-radius: 28px;
        overflow: hidden;
    }
}

@include media-breakpoint-down(xs){
    .program-section{
        padding: 30px 0;
    }

    .daily-calories__title, .duration__title{
        font-size: 16px;
        line-height: 19px;
    }

    .cal-item{
        font-size: 14px;
        height: 56px;
        line-height: 56px;
        &:first-child{
            border-radius: 28px 0 0 28px;
        }
        &:last-child{
            border-radius: 0 28px 28px 0;
        }
    }

    .duration{
        &__group{
            flex-wrap: wrap;
        }
        &__header{
            margin-bottom: 16px;
        }
        &__notice{
            margin-top: 16px;
        }
    }

    .duration-item{
        width: 50%;
        line-height: 56px;
        height: 56px;
        border-right: none;
        &:first-child{
            width: 100%;
            border-radius: 28px 28px 0 0;
            border-bottom: 1px solid #E5E5E5;
        }
        &:last-child{
            border-radius: 0 0 28px 0;
        }
        &:nth-child(2){
            border-bottom: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
        }
        &:nth-child(3){
            border-bottom: 1px solid #E5E5E5;
        }
        &:nth-child(4){
            border-right: 1px solid #E5E5E5;
            border-radius: 0 0 0 28px;
        }
        &__body{
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            font-size: 14px;
        }
        &__body-title{
            margin-bottom: 0;
        }
    }

    .program{
        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 20px 15px;
        border-radius: 0;
        &__title{
            display: none;
        }
    }

    .help{
        &__text{
            left: -185px;
        }
    }
}
