.reviews-section{
    background: #F7F7F7;
    &__title{
        text-align: center;
        margin-bottom: 40px;
    }
}
    
.reviews-slider{
    padding-bottom: 125px;
    &__quote{
        margin: 0 auto 30px;
        display: block;
    }
    &__text{
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;   
    }        
    &__avatar{
        margin: 0 auto;
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    &__title{
        text-align: center;
        font-weight: 900;
    }
    &__arrow-prev{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: calc(50% - 90px);
    }
    &__arrow-next{
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: calc(50% + 20px);
    }
}

@include media-breakpoint-down(sm){
    .reviews-slider{
        padding-bottom: 100px;
        &__text{
            font-size: 14px;
            line-height: 26px;
        }
        &__quote{
            margin-bottom: 15px;
        }
    }
}